body, p, h1, h2, h3, h4, h5 {
    margin:0;
    font-family: 'Roboto', sans-serif;
}

body {
    background:#100400;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.bottom_container {
    width: 100%;
    padding: 12vh 0;
    clip-path: polygon(0% calc(0% + 10vh), 100% 0%, 100% calc(100% - 10vh), 0% 100%);
    position: relative;
    z-index: 2;
    background:orangered;
}

.main_container_background {
    position: fixed;
    top: 0;
    width: 100%;
    transition:10s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition:10s cubic-bezier(0, 0, 0.2, 1);
    -moz-transition:10s cubic-bezier(0, 0, 0.2, 1);
    -ms-transition:10s cubic-bezier(0, 0, 0.2, 1);
    -o-transition:10s cubic-bezier(0, 0, 0.2, 1);
}

.top_container {
    width:100%;
    height: 34vh;
    display: flex;
}

.top_container .main_container_background {
    opacity:0.15;
}

.bottom_container .main_container_background {
    opacity: 0.6;
}


.top_container > div {
    display:inline-block;
}

    .logo_container {
        width:38%;
        height:100%;
    }

    .slogan_container {
        width:61%;
        height:100%;
    }

        .slogan_container a {
            text-align: center;
            display: block;
            color: white;
            opacity: 0.4;
            font-weight: 300;
            font-size: 3.5vh;
            width: 50%;
            margin: 0 auto;
            transition: transform 1s ease;
            -webkit-transition: transform 1s ease;
            -moz-transition: transform 1s ease;
            -ms-transition: transform 1s ease;
            -o-transition: transform 1s ease;
}

        .slogan_container a:hover {
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
}

            .slogan {
                margin: 10vh auto 3vh auto;
                display: block;
                width: calc(25vw + 25vh);
                position: relative;
            }

            .main_logo {
                width: 50vh;
                position: relative;
                margin: 0 14vh 0 14vh;
                top: 6vh;
            }

.inner_container {
    position: relative;
    width: 86%;
    height: 85%;
    top: 15%;
    margin: 0 auto;
    display: flex;
}

    .inner_container > div {
        display: inline-block;
    }

        .price_tag {
            height: 100%;
            position: sticky;
            top:25vh;
            margin-bottom: 15vh;
        }

        .info_box {
            width: 70%;
            padding: 5vh 0 0 0;
            box-sizing: border-box;
            height: 100%;;
            position: relative;
        }

        .info_box > div > div {
            display: inline-block;
            background: rgba(0,0,0,0.5);
            margin-bottom: 2vh;
            transition: background 2s ease;
            -webkit-transition: background 2s ease;
            -moz-transition: background 2s ease;
            -ms-transition: background 2s ease;
            -o-transition: background 2s ease;
        }

        .info_box > div:last-child {
            margin-bottom: 10vh;
        }

            .info_box > div > div:hover {
                background: rgba(0,0,0,0.4);
                transition: background 0.2s ease;
                -webkit-transition: background 0.2s ease;
                -moz-transition: background 0.2s ease;
                -ms-transition: background 0.2s ease;
                -o-transition: background 0.2s ease;
}

        .info_box > div > div p {
            text-align: center;
            color: white;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 3.5vh;
            font-weight: 300;
            cursor: default;
            }

            .two_info_box, .single_info_box {
                display: flex;
                justify-content: space-between;
            }

            .two_info_box > div {
                width: 49%;
                padding: 3vh 5vh;
            }
    
            .single_info_box > div {
                width: 100%;
                padding: 3vh 15vh;
            }

                .two_info_box > div:first-child {
                    margin-right: 2%;
                }


        .price_tag {
            width: 30%;
        }

            .big_price {
                width: 35vh;
                height: 45vh;
                background: white;
                margin: 0 auto;
                position: relative;
                top: 5%;
                border-radius: 2vh;
                cursor: default;
                z-index: 1;
                background-image: url(assets/listrado_bg.svg);
                background-size: 50%;
            }

                .excel_logo {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 25%;
                    transform: translateX(42%) translateY(-10%);
                    filter: drop-shadow(0px 0px 5px white);
                    -webkit-filter: drop-shadow(0px 0px 5px white);
                    -webkit-transform: translateX(42%) translateY(-10%);
                    -moz-transform: translateX(42%) translateY(-10%);
                    -ms-transform: translateX(42%) translateY(-10%);
                    -o-transform: translateX(42%) translateY(-10%);
}

                .big_price > div {
                    position: relative;
                    margin: 0 auto;
                    width: 60%;
                    top: 15%;            
                }

                .big_price > div > p {
                    font-size: 6vh;
                    font-weight: 500;
                    margin: -3vh 0;
                }

                .big_price > div > h2 {
                    font-size: 15vh;
                    font-weight: 500;
                }

                .big_price > p {
                    font-size: 2.8vh;
                    font-weight: 400;
                    position: relative;
                    margin: 0 auto;
                }

                .apenas {
                    top: 5%;
                    text-align: left;
                    width: 80%;
                }
                
                .envio {
                    text-align: center;
                    top: 12%;
                    width: 100%;
                }

                .big_price > div > h2 span {
                    font-size: 4vh;
                    position: absolute;
                    transform: translateY(50%);
                    font-weight: 600;
                    -webkit-transform: translateY(50%);
                    -moz-transform: translateY(50%);
                    -ms-transform: translateY(50%);
                    -o-transform: translateY(50%);
}

                .big_price form {
                    position: absolute;
                    bottom: 1%;
                    cursor: pointer;
                    margin: 0 auto;
                    display: block;
                    left: 50%;
                    transform: translateX(-50%) scale(0.9);
                    transition:transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), filter 0.3s ease;
                    -webkit-transition:transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), filter 0.3s ease;
                    -webkit-transform: translateX(-50%) scale(0.9);
                    -moz-transform: translateX(-50%) scale(0.9);
                    -ms-transform: translateX(-50%) scale(0.9);
                    -o-transform: translateX(-50%) scale(0.9);
                    -moz-transition:transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), filter 0.3s ease;
                    -ms-transition:transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), filter 0.3s ease;
                    -o-transition:transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), filter 0.3s ease;
}

                .big_price form:hover {
                    transform: translateX(-50%) scale(1.1);
                    -webkit-transform: translateX(-50%) scale(1.1);
                    -moz-transform: translateX(-50%) scale(1.1);
                    -ms-transform: translateX(-50%) scale(1.1);
                    -o-transform: translateX(-50%) scale(1.1);
                    filter:drop-shadow( 0 10px 40px white);
                    -webkit-filter:drop-shadow( 0 10px 40px white);
}


            .free_trial {
                position: relative;
                margin: 0 auto;
                width: 30vh;
                height: 8vh;
                background: rgba(255,255,255,0.1);
                display: block;
                border-radius: 0 0 2vh 2vh;
                -webkit-border-radius: 0 0 2vh 2vh;
                -moz-border-radius: 0 0 2vh 2vh;
                -ms-border-radius: 0 0 2vh 2vh;
                -o-border-radius: 0 0 2vh 2vh;
                transition:background 0.3s ease, height 0.3s ease;
                -webkit-transition:background 0.3s ease, height 0.3s ease;
                -moz-transition:background 0.3s ease, height 0.3s ease;
                -ms-transition:background 0.3s ease, height 0.3s ease;
                -o-transition:background 0.3s ease, height 0.3s ease;
}
            
            .free_trial:hover {
                background: rgba(255,255,255,0.2);
            }

            .free_trial p {
                color: white;
                width: 100%;
                text-align: center;
                font-size: 3vh;
                font-weight: 300;
                line-height: 8vh;
                transition:line-height 0.3s ease;
                -webkit-transition:line-height 0.3s ease;
                -moz-transition:line-height 0.3s ease;
                -ms-transition:line-height 0.3s ease;
                -o-transition:line-height 0.3s ease;
            }

            #hidden_p1 {
                color: white;
                width: 130%;
                margin: 0 auto;
                opacity: 0;
                bottom: 1.2vh;
                line-height: initial;
                font-size: 2.4vh;
                transition: 0.5s ease;
                -webkit-transition: 0.5s ease;
                -webkit-transition: 0.5s ease;
                -moz-transition: 0.5s ease;
                -ms-transition: 0.5s ease;
                -o-transition: 0.5s ease;
                font-weight: 300;
                transform: translateY(15%) translateX(-12%);
                -webkit-transform: translateY(15%) translateX(-12%);
                -moz-transform: translateY(15%) translateX(-12%);
                -ms-transform: translateY(15%) translateX(-12%);
                -o-transform: translateY(15%) translateX(-12%);
            }
            
            #hidden_p1 span {
                display: block;
                margin: 0 0 0.5vh 0;
            }
            
            .free_trial:hover #hidden_p1 {
                opacity:1;
            }

            footer {
                background: white;
                width: 100%;
                height: 18vh;
                position: absolute;
                margin-top: -10vh;
                z-index: 1;
            }

            footer a {
                position: absolute;
                width: 40%;
                display: block;
                text-align: right;
                top: 35%;
                right: 12%;
                color: black;
                font-size: 4vh;
                font-weight: 200;
            }

            footer a:hover span {
                border-bottom:solid 2px black;
            }

            .single_info_box div p strong {
                display:block;
                font-weight: 400;
                margin-top: 1vh;
            }
            
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: white;
}






@media screen and (max-width: 145vh) { 

    .top_container {
        height: 62vh;
        display: block;
    }

    .logo_container {
        width: 100%;
        height: 50%;
    }

    .main_logo {
        margin: 0 auto;
        display: block;
        top: 4vh;
    }

    .slogan {
        margin: 6vh auto 4vh auto;
        display: block;
        width: calc(40vw + 25vh);
        position: relative;
    }

    .slogan_container {
        width: 100%;
        height: auto;
    }

    .bottom_container {
        clip-path: polygon(0% calc(0% + 6vh), 100% 0%, 100% calc(100% - 6vh), 0% 100%);
    }

    .main_container_background {
        width: 100%;
        height: 300%;
        object-fit: cover;
    }

    .inner_container {
        display:block;
    }

    .two_info_box > div {
        padding: 2vh;
        box-sizing: border-box;
    }

    .info_box {
        width: 100%;
        padding: 0;
    }

    .price_tag {
        width: 100%;
        position: relative;
        top: 6vh;
        margin: 5vh 0 15vh 0;
    }

    .free_trial {
        background: rgba(255,255,255,0.15);
    }

    .free_trial p {
        font-weight: 400;
    }

    #hidden_p1 {
        opacity: 1;
        font-size: 2.6vh;
    }

    footer a {
        width: 100%;
        bottom: 8%;
        top: unset;
        font-size: 2.5vh;
        font-weight: 400;
        right: 5%;
    }

    .single_info_box > div {
        padding: 3vh;
    }

    .info_box > div > div p {
        font-size: 2.5vh;
    }

    .info_box > div > div {
        margin-bottom: 1vh;
    }
    .info_box > div:last-child {
        margin-bottom: 0;
    }
}